
<a href="users/add ">add a user</a>

<div >
    <ul> 
       
<% if (typeof users != 'undefined'){  %> 
    <%	users.forEach((user) =>{ %>
        <li> 
<p>name : <%- user.name %></p>
<p>phonenumber: <%- user.phone_number %></p>
<p>role: <%- user.role %></p>
<p>status: <%- user.status %></p>
<a href="/users/edit/<%= user._id %>">edit</a>
<a href="/users/delete/<%= user._id %>">delete</a>
<a href="/users/delete/<%= user._id %>">delete</a>
<a href="/users/force-password/<%= user._id %>" >force-password</a>
<% }) %>

<%}%>
</li>
</ul>  
</div>